* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    overflow: hidden;
}

.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;

}

.my-background {
    width: 100%;
    height: 600px;
    background-image: url('/images/sky.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ground {
    position: absolute;
    width: 200%;
    height: 60px;
    background-image: url('images/ground.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: ground-animation 3.5s linear infinite;

}

.bird {
    position: absolute;
    width: 20px;
    bottom: 100px;
    animation: pipe-animation 14s infinite linear;
}

.clouds {
    padding-top: 30px;
    position: absolute;
    width: 300px;
    animation: clouds-animation 20s infinite linear;
}

.pipe {
    position: absolute;
    bottom: 0px;
    height: 35px;
    width: 40px;
    animation: pipe-animation 2s infinite linear;
}


.wolf {
    width: 70px;
    position: absolute;
    bottom: 0;
}

.justin {
    padding-left: 110px;
    width: 70px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 400ms ease-out;
}

.wolfjump {
    animation: jump 500ms ease-out;
    animation-delay: 200ms;
}

.tree {
    position: absolute;
    bottom: 0;
    width: 200px;
    animation: tree-animation 8s infinite linear;
}


@keyframes ground-animation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes brid-animation {
    to {
        left: -20px;
    }

    from {
        left: 100%;
    }
}

@keyframes pipe-animation {
    from {
        right: -70px;

    }

    to {
        right: 100%;
    }
}

@keyframes clouds-animation {
    from {
        right: -400px;

    }

    to {
        right: 100%;
    }
}

@keyframes tree-animation {
    from {
        right: -250px;

    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 60px;
    }

    50% {
        bottom: 60px;
    }

    60% {
        bottom: 60px;
    }

    100% {
        bottom: 0;

    }
}

@keyframes wolf-jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 60px;
    }

    50% {
        bottom: 60px;
    }

    60% {
        bottom: 60px;
    }

    100% {
        bottom: 0;

    }
}

.GameOver {
    font-family: "Press Start 2P", system-ui;
    color: white;
    background-color: black;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding-top: 10%;
}